In [ ]:
import sys
import os

ROOT_DIR = os.path.abspath(os.path.join(os.getcwd(), "..")) 
ROOT_DIR

# Definir la ruta de la ra√≠z del proyecto
ROOT_DIR = r"C:\Desarrollo\core"
sys.path.insert(0, ROOT_DIR)  # Agregarla al sys.path

# Verificar que se agreg√≥ correctamente
print("üîπ sys.path actualizado:", sys.path)

üîπ sys.path actualizado: ['C:\\Desarrollo\\pipeline-master', 'C:\\Desarrollo\\pipeline-master', 'c:\\Users\\gsolomita\\AppData\\Local\\Programs\\Python\\Python312\\python312.zip', 'c:\\Users\\gsolomita\\AppData\\Local\\Programs\\Python\\Python312\\DLLs', 'c:\\Users\\gsolomita\\AppData\\Local\\Programs\\Python\\Python312\\Lib', 'c:\\Users\\gsolomita\\AppData\\Local\\Programs\\Python\\Python312', '', 'C:\\Users\\gsolomita\\AppData\\Roaming\\Python\\Python312\\site-packages', 'C:\\Users\\gsolomita\\AppData\\Roaming\\Python\\Python312\\site-packages\\win32', 'C:\\Users\\gsolomita\\AppData\\Roaming\\Python\\Python312\\site-packages\\win32\\lib', 'C:\\Users\\gsolomita\\AppData\\Roaming\\Python\\Python312\\site-packages\\Pythonwin', 'c:\\Users\\gsolomita\\AppData\\Local\\Programs\\Python\\Python312\\Lib\\site-packages']

In [ ]:
import pandas as pd

file_path = r"C:\Desarrollo\core\test\input\SI - ODS - Detalle de reclamo por siniestro.xlsx"

try:
    df_domains = pd.read_excel(file_path)
    print("üìÑ Data cargada correctamente:")
    print(df_domains.head())  # Muestra las primeras filas para verificar
except Exception as e:
    print(f"‚ùå Error al leer el archivo: {e}")

üìÑ Data cargada correctamente:
   N√∫mero del siniestro                   Asegurado  Unnamed: 2  Unnamed: 3  \
0            2003284862              CAPONE LEANDRO         NaN         NaN
1            2003284930        MOLINA ANDREA GISELE         NaN         NaN
2            2003284880    SANTINELLI SERGIO DANIEL         NaN         NaN
3            2003284909          SOSA NATALIA EDITH         NaN         NaN
4            2003284872  SCHWARZKOPF ROMINA GISEL A         NaN         NaN

   Unnamed: 4  Unnamed: 5  Unnamed: 6  C√≥digo del asegurado (PersonBupID)  \
0         NaN         NaN         NaN                           2609945.0
1         NaN         NaN         NaN                          24464137.0
2         NaN         NaN         NaN                           2161617.0
3         NaN         NaN         NaN                           4738453.0
4         NaN         NaN         NaN                          23208852.0

   C√≥digo del ramo         Ramo  ...  C√≥digo del veh√≠culo del asegurado  \
0              200  Automotores  ...                           460784.0
1              200  Automotores  ...                           190149.0
2              200  Automotores  ...                           360828.0
3              200  Automotores  ...                           360797.0
4              200  Automotores  ...                           360808.0

   Patente del veh√≠culo del asegurado  Modelo del veh√≠culo del asegurado  \
0                          AB056RK                                2017.0
1                          IUP108                                 2010.0
2                          AF350DS                                2022.0
3                          AD020ZV                                2018.0
4                          AF454AA                                2022.0

   Gestor del siniestro    Gestor del reclamo Evento catastrofico  \
0  gpachao               gpachao                               NO
1  milmartinez           milmartinez                           NO
2  gmgutierrez           gmgutierrez                           NO
3  camgonzalez           camgonzalez                           NO
4  cblanco               cblanco                               NO

       Observaciones Cleas  Fecha Baja Cleas          Moneda
0   Ruedas colocadas     N               NaN  Peso argentino
1   Ruedas colocadas     N               NaN  Peso argentino
2   Ruedas colocadas     N               NaN  Peso argentino
3   Ruedas colocadas     N               NaN  Peso argentino
4   Ruedas colocadas     N               NaN  Peso argentino

[5 rows x 99 columns]

In [4]:
df_domains.columns

df_filtered = df_domains[['Fecha y hora de ocurrencia del siniestro', 'Patente  del veh√≠culo damnificado','Patente del veh√≠culo del asegurado']]

In [5]:
# Crear la columna 'Domain' basada en la comparaci√≥n de patentes
df_filtered['Domain'] = df_filtered.apply(lambda row: 
    row['Patente  del veh√≠culo damnificado'] if pd.notna(row['Patente  del veh√≠culo damnificado']) else row['Patente del veh√≠culo del asegurado'], 
    axis=1)

df_filtered

C:\Users\gsolomita\AppData\Local\Temp\ipykernel_22872\2854715621.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Domain'] = df_filtered.apply(lambda row:

,Fecha y hora de ocurrencia del siniestro,Patente del veh√≠culo damnificado,Patente del veh√≠culo del asegurado,Domain
0,01/01/2024,AB056RK,AB056RK,AB056RK
1,01/01/2024,IUP108,IUP108,IUP108
2,01/01/2024,AF350DS,AF350DS,AF350DS
3,31/12/2023,AD020ZV,AD020ZV,AD020ZV
4,01/01/2024,AF454AA,AF454AA,AF454AA
...,...,...,...,...
16414,30/12/2024,AA817TF,NaN,AA817TF
16415,30/12/2024,OXW350,OXW350,OXW350
16416,30/12/2024,OXW350,OXW350,OXW350
16417,26/12/2024,OST769,OST769,OST769
16418,29/12/2024,AG021DT,AG021DT,AG021DT

In [6]:
# Filtrar solo registros donde ambas patentes sean iguales o donde una est√© en null
df_filtered = df_filtered[
    (df_filtered['Patente  del veh√≠culo damnificado'].fillna('') == df_filtered['Patente del veh√≠culo del asegurado'].fillna(''))
]

In [7]:
df_filtered

,Fecha y hora de ocurrencia del siniestro,Patente del veh√≠culo damnificado,Patente del veh√≠culo del asegurado,Domain
7308,25/05/2023,NaN,NaN,NaN
15898,15/05/2024,AE645ZT,AE645ZT,AE645ZT
15899,26/06/2024,LUV611,LUV611,LUV611
15900,07/03/2024,AG450XQ,AG450XQ,AG450XQ
15901,13/03/2024,AG450XQ,AG450XQ,AG450XQ
...,...,...,...,...
16413,28/12/2024,AG790BG,AG790BG,AG790BG
16415,30/12/2024,OXW350,OXW350,OXW350
16416,30/12/2024,OXW350,OXW350,OXW350
16417,26/12/2024,OST769,OST769,OST769
16418,29/12/2024,AG021DT,AG021DT,AG021DT

In [8]:
# Filtrar solo registros donde ambas patentes sean iguales o donde una est√© en null
df_filtered = df_filtered[
    (df_filtered['Patente  del veh√≠culo damnificado'].fillna('') == df_filtered['Patente del veh√≠culo del asegurado'].fillna(''))
]

# Seleccionar solo las columnas necesarias
df_result = df_filtered[['Fecha y hora de ocurrencia del siniestro', 'Domain']]

df_result

      Fecha y hora de ocurrencia del siniestro   Domain
7308                                25/05/2023      NaN
15898                               15/05/2024  AE645ZT
15899                               26/06/2024   LUV611
15900                               07/03/2024  AG450XQ
15901                               13/03/2024  AG450XQ
...                                        ...      ...
16413                               28/12/2024  AG790BG
16415                               30/12/2024   OXW350
16416                               30/12/2024   OXW350
16417                               26/12/2024   OST769
16418                               29/12/2024  AG021DT

[515 rows x 2 columns]

In [9]:
# Eliminar filas con NaN en 'Domain'
df_result_clean = df_result.dropna()
df_result_clean

      Fecha y hora de ocurrencia del siniestro   Domain
15898                               15/05/2024  AE645ZT
15899                               26/06/2024   LUV611
15900                               07/03/2024  AG450XQ
15901                               13/03/2024  AG450XQ
15902                               04/03/2024   NZA575
...                                        ...      ...
16413                               28/12/2024  AG790BG
16415                               30/12/2024   OXW350
16416                               30/12/2024   OXW350
16417                               26/12/2024   OST769
16418                               29/12/2024  AG021DT

[512 rows x 2 columns]

In [10]:
duplicados = df_result_clean[df_result_clean.duplicated()]
print(duplicados)

      Fecha y hora de ocurrencia del siniestro   Domain
15934                               24/04/2024  AF619ZK
15937                               27/07/2024  AE244EQ
15953                               24/08/2024  AG603JP
15955                               14/07/2024  AG153XW
15963                               11/07/2024  AF956YV
...                                        ...      ...
16396                               22/12/2024  AG721VP
16397                               24/12/2024  AG890JR
16403                               28/12/2024  AG459TC
16412                               28/12/2024  AG459TC
16416                               30/12/2024   OXW350

[71 rows x 2 columns]

In [11]:
duplicados = duplicados.drop_duplicates()
duplicados

      Fecha y hora de ocurrencia del siniestro   Domain
15934                               24/04/2024  AF619ZK
15937                               27/07/2024  AE244EQ
15953                               24/08/2024  AG603JP
15955                               14/07/2024  AG153XW
15963                               11/07/2024  AF956YV
...                                        ...      ...
16392                               21/12/2024  AG799MD
16395                               23/12/2024  AF028JT
16397                               24/12/2024  AG890JR
16403                               28/12/2024  AG459TC
16416                               30/12/2024   OXW350

[63 rows x 2 columns]

In [ ]:
# Guardar el DataFrame en un archivo CSV
duplicados.to_csv( r"C:\Desarrollo\pipeline-master\test\output\limpieza_siniestro_pipeline.csv", index=False, encoding='utf-8')

print("Archivo CSV generado: limpieza_siniestro_pipeline.csv")

Archivo CSV generado: resultado.csv